@import '../../../scss/abstracts/vars';

.info {
  display: grid;

  grid-template-columns: 65% auto;
  grid-gap: $grid-gap-big;
  margin-top: 1.8rem;

  @media (max-width: 75rem) {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &__main {
    padding: $padding-news-detail;
  
    &--img {
      max-width: 100%;
      object-fit: contain;
    }
  
    &--text {
      padding: 1rem 1.2rem 2rem 1.2rem;
      text-align: justify;
      
    }

    &--heading {
      padding: 2.2rem 1.2rem 1.4rem 1.2rem;
    }
  }

  &--date {
    display: block;
    padding: 1rem 1rem 1rem 0;
    font-size: 1.4rem;
  }

  &__author {
    width: 100%;
    display: flex;
    padding: 0 1rem 0 1rem;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    font-style: italic;

    @media (max-width: 75rem) {
      flex-direction: column-reverse;
    }

    &--img {
      height: 4.5rem;
    }

    &--name {

      font-size: 1.4rem;
      padding: 0.5rem 1.5rem 0.5rem .7rem;
    }

    &--moderator {
      padding-right: 1rem;
      display: flex;

      @media (max-width: 75rem) {
        justify-content: flex-end;
        width: 100%;
      }
    }

    &--public {
      display: flex;
      align-items: center;

      @media (max-width: 75rem) {
        width: 100%;
        justify-content: flex-start;
      }
    }
  }

  &__comments {
    padding: $padding-news-detail;

    &__item {
      padding: 2rem;
    }
  }

  &__add-comment {
    padding: 2rem;
  }

  &__other-news {
    padding-top: 5rem;

    @media (max-width: 75rem) {
      display: none;
    }
  }
}
.title-wrapper {
  @media (max-width: 75rem) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}



